.grid-section-header {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-section-header-title {
    margin: 0;
    font-weight: 800;
    font-size: 18px;
}

.grid-section-header-icon {
    height: 30px;
    width: 30px;
}

.grid-section-header-icon-svg {
    fill: black;
}

@media (min-width: 768px) {
    .grid-section-header-title {
        font-size: 26px;
    }

    .grid-section-header-icon {
        width: 35px;
        height: 35px;
    }
}