.top {
    display: flex;
    grid-area: top;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 85px;
    z-index: 2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #F7C331;
}