.nav-link {
    width: 70px;
    height: 55px;
    fill: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.nav-link-active .nav-icon {
    fill: #020202;
}

.nav-icon {
    width: 35px;
    height: 35px;
}